.app-nav {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  width: 50px;
  margin: 0;
  padding: 0;
  border-radius: var(--radius) 0 0 var(--radius);
  list-style-type: none;
  &--item {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
    transition: var(--transition);
    background-color: var(--light_50);
    &:first-child {
      border-radius: var(--radius) 0 0 0;
    }
    img {
      max-height: 20px;
      max-width: 20px;
    }
    &.active {
      opacity: 1;
      background-color: var(--white);
    }
    &:hover {
      box-shadow: var(--box-shadow__primary);
      opacity: 1;
      background-color: var(--white);
      cursor: pointer;
    }
  }
}
