.App.project {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  header.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    margin-bottom: 30px;
  }
  .app-container {
    position: relative;
    width: calc(100% - 430px);
    height: calc(100% - 80px);
    .app-main {
      position: relative;
      z-index: 2;
      margin-left: 50px;
      height: 100%;
      .box-body {
        overflow-y: auto;
        height: calc(100% - 50px);
      }
    }
  }
  .questlog {
    width: 400px;
    height: calc(100% - 80px);
  }
}
