.App.project {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  header.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    margin-bottom: 30px;
  }
  .app-container {
    position: relative;
    width: calc(100% - 430px);
    height: calc(100% - 80px);
    .app-main {
      z-index: 2;
      margin-left: 50px;
      height: 100%;
      position: relative;
      overflow: hidden;
      .box-header {
        .btn {
          position: relative;
          z-index: 1;
        }
      }
      .box-body {
        position: relative;
        overflow-y: auto;
        height: calc(100% - 50px);
      }
      .sidebar {
        height: 100%;
        width: 400px;
        background-color: var(--white);
        padding: 30px;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-content: center;
        right: -410px;
        top: 0;
        position: absolute;
        transition: var(--transition);
        &.false {
          right: 0px;
        }
      }
    }
  }
  .questlog {
    width: 400px;
    height: calc(100% - 80px);
  }
}
