.toggle-mode {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  &:hover {
    box-shadow: var(--box-shadow__primary);
    cursor: pointer;
  }
}

.auth .toggle-mode {
  position: fixed;
  top: 30px;
  right: 30px;
}
