.alert {
  position: fixed;
  top: 30px;
  border-radius: var(--radius);
  background-color: var(--white);
  padding: 0 15px;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  width: auto;
  min-width: 250px;
  height: 50px;
  right: 110px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--black_25);
  transition: all 0.5s ease-in-out;
  padding-right: 0;
  &--success {
    background-color: var(--green_75);
    color: var(--white_fix);
    box-shadow: 0 0 5px var(--green);
  }
  &--error {
    background-color: var(--red_75);
    color: var(--white_fix);
    box-shadow: 0 0 5px var(--red);
  }
  &--notice {
    background-color: var(--primary_75);
    color: var(--white_fix);
    box-shadow: 0 0 5px var(--primary);
  }
  &.active {
    display: flex;
    transform: scale(1);
  }
  .close-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 0 calc(var(--radius) - 1px) calc(var(--radius) - 1px) 0;
    margin-left: 10px;
    &:hover {
      background-color: var(--white_25);
      opacity: 1;
      cursor: pointer;
    }
  }
}
