.btn {
  height: 50px;
  background-color: none;
  border: none;
  box-shadow: none;
  outline: none;
  transition: var(--transition);
  &:hover {
    box-shadow: var(--box-shadow__primary);
    cursor: pointer;
  }
  &__white {
    background-color: var(--white);
  }
  &-icon-only {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 60px;
    width: 60px;
    background-color: var(--light);
    border-radius: 50%;
    transition: var(--transition);
    &:focus,
    &:hover {
      box-shadow: var(--box-shadow__primary);
      cursor: pointer;
    }
    &.valid {
      background-color: var(--dark);
      background-color: var(--primary);
      &:focus {
        box-shadow: var(--box-shadow__primary);
      }
    }
  }
}
