.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  &.open,
  &:hover {
    box-shadow: var(--box-shadow__primary);
    border-radius: 0 var(--radius) 0 0;
    .selected {
      background-color: var(--light);
      border-radius: 0 var(--radius) 0 0;
      .caret {
        transform: rotate(180deg);
      }
    }
    .options {
      box-shadow: var(--box-shadow__primary);
      display: flex;
    }
  }
  .selected {
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background-color: var(--white);
    border-radius: 0 var(--radius) var(--radius) 0;
    transition: var(--transition);
    .selected-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .label {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        opacity: 0.5;
      }
      input {
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        width: auto;
        background-color: transparent;
        color: var(--black);
        max-width: 120px;
      }
    }
    .caret {
      margin-left: 20px;
      transition: var(--transition);
    }
  }

  .options {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    top: 50px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    width: 100%;
    z-index: 3;
    border-radius: 0 0 var(--radius) var(--radius);
    transition: var(--transition);
    .option {
      padding: 12px;
      transition: var(--transition);
      &:hover {
        background-color: var(--light_50);
        cursor: pointer;
      }
    }
  }
}
