.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 var(--radius) var(--radius) 0;
  &.open {
    box-shadow: var(--box-shadow__primary);
    .selected {
      border-radius: 0 var(--radius) 0 0;
      .caret {
        transform: rotate(180deg);
      }
    }
    .options {
      box-shadow: var(--box-shadow__primary);
      display: flex;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow__primary);
    .selected {
      .dropdown-label {
        opacity: 1;
      }
    }
  }
  .selected {
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background-color: var(--white);
    border-radius: 0 var(--radius) var(--radius) 0;
    transition: var(--transition);
    .selected-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .dropdown-label {
        font-size: 12px;
        font-weight: bold;
      }
      span {
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        width: auto;
        background-color: transparent;
        color: var(--black);
        max-width: 120px;
      }
    }
    .caret {
      margin-left: 20px;
      transition: var(--transition);
    }
  }

  .options {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    top: 50px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    width: 100%;
    z-index: 3;
    border-radius: 0 0 var(--radius) var(--radius);
    max-height: 300px;
    overflow-y: auto;
    transition: var(--transition);
    .option {
      padding: 12px;
      transition: var(--transition);
      &:last-child {
        border-radius: 0 0 var(--radius) var(--radius);
      }
      &:hover {
        background-color: var(--light_50);
        cursor: pointer;
      }
    }
  }
}
form .field.dropdown {
  outline: none;
  border-radius: 0;
  &.last {
    border-radius: 0 0 var(--radius) var(--radius);
  }
  &:focus {
    border-radius: 0;
    .dropdown {
      box-shadow: var(--box-shadow__primary);
      .selected {
        border-radius: 0;
        .caret {
          transform: rotate(180deg);
        }
      }
      .options {
        box-shadow: var(--box-shadow__primary);
        display: flex;
      }
    }
  }
}
form .field.dropdown .dropdown {
  width: 100%;
  height: 54px;
  color: var(--dark);
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: inherit;
  &.open {
    box-shadow: var(--box-shadow__primary);
    .selected {
      border-radius: 0;
      .caret {
        transform: rotate(180deg);
      }
    }
    .options {
      box-shadow: var(--box-shadow__primary);
      display: flex;
    }
  }

  .selected {
    background-color: transparent;
    padding: 0;
    .caret {
      margin-right: 8px;
    }
  }

  .options {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    top: 54px;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    width: 100%;
    z-index: 3;
    border-radius: 0 0 var(--radius) var(--radius);
    transition: var(--transition);
    .option {
      height: 54px;
      padding: 12px;
      display: flex;
      align-items: center;
      transition: var(--transition);
      &:last-child {
        border-radius: 0 0 var(--radius) var(--radius);
      }
      &:hover {
        background-color: var(--light_50);
        cursor: pointer;
      }
    }
  }
}
